/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 10px;
    margin-top: 50px;
}

.login-box {
    background-color:#ffffff;
    width: 380px;
    margin: auto;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color:rgba(0,0,0,0.20);
    margin-top: 50px;
}

.login-error-msg {
    padding: 10px;
    text-align: center;
    color:#ff0000;
}