page-signup {
    .signup-input-container {
        margin-top: 40px;
    }

    .option-button {
        margin-top: 20px;
        text-align: center;
    }

    .input-field .select {
        width: 100% !important;
        max-width: 100% !important;
    }
}
