<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZiadBooking</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    @RenderBody()
    <footer>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
