<ion-header class="blue-header">
    <ion-navbar>
        <ion-title>
            {{ 'family_members' | translate }}
        </ion-title>
        <ion-buttons end>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content no-padding has-header class="has-header gray-screen">
    <div class="after-header-drop">
    </div>
    <div padding class="input-fields-container">
        <div class="input-label">
            {{ 'title' | translate }}
        </div>
        <ion-item class="input-field field-below-label">
            <ion-input type="text" [(ngModel)]="name" maxlength="50" placeholder=""></ion-input>
        </ion-item>
        <div class="input-label input-below">
            {{ 'relation' | translate }}
        </div>
        <ion-item class="input-field field-below-label relation-item">
            <ion-select [(ngModel)]="relation">
                <ion-option *ngFor="let r of relations" [value]="r.value">{{r.title}}</ion-option>
            </ion-select>
        </ion-item>
        <div class="input-label input-below">
            {{ 'phone_number' | translate }}
        </div>
        <ion-item class="input-field field-below-label">
            <ion-input type="tel" [(ngModel)]="phoneNumber" maxlength="20" placeholder="018xxxxx"></ion-input>
        </ion-item>
    </div>
    <div padding class="signup-button">
        <button ion-button class="common-button primary-button" (tap)="saveClick()">{{ 'enroll' | translate }}</button>
    </div>
    <div padding class="close-button">
      <button ion-button class="common-button " (tap)="closeClick()">{{ 'Close' | translate }}</button>
  </div>
    <div class="all-items-container" *ngIf="feedType=='family'">
        <div *ngFor="let st of family" class="item-single" (tap)="familyClick(st)">
            <div class="profile-pic">
                <img [src]="st.profile_pic_url" />
            </div>
            <div class="full-item-info">
                <div class="item-title">
                    {{st.name}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="status-box approved" *ngIf="st.is_pending=='0'">
                {{ 'approved' | translate }}
            </div>
            <div class="status-box pending" *ngIf="st.is_pending=='1'">
                {{ 'pending' | translate }}
            </div>
        </div>
    </div>
    <!--<div class="all-items-container" *ngIf="feedType=='pending'">
        <div *ngFor="let st of pending" class="item-single">
            <div class="full-item-info">
                <div class="item-title">
                    {{st.name}}
                </div>
                <div class="item-date">
                    {{st.date_display_text}}
                </div>
                <div class="action-button">
                    <button ion-button small color="success" (tap)="actionClick(st,'accept')">ACCEPT</button>
                    &nbsp;
                    <button ion-button small color="danger" (tap)="actionClick(st,'reject')">REJECT</button>
                </div>
            </div>
        </div>
    </div>-->
</ion-content>
