<ion-header class="blue-header">
    <ion-navbar>
        <ion-title>
            {{ 'my_reservations' | rameezTranslator: globals.userLanguage }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding has-header class="has-header gray-screen">
    <!--<ion-fab bottom right edge>
        <button ion-button full large color="orange" (tap)="addReservationClick()">
            RESERVE
        </button>
    </ion-fab>-->
    <div class="bottom-button">
        <button ion-button class="common-button primary-button" (tap)="addReservationClick()">{{ 'reserve' | rameezTranslator: globals.userLanguage }}</button>
    </div>
    <div class="after-header-drop">
        <ion-segment [(ngModel)]="feedType" color="orange" (ionChange)="feedTypeChanged($event)">
            <ion-segment-button value="upcoming">
                {{ 'upcoming' | rameezTranslator: globals.userLanguage }}
            </ion-segment-button>
            <ion-segment-button value="previous">
                {{ 'previous' | rameezTranslator: globals.userLanguage }}
            </ion-segment-button>
        </ion-segment>
    </div>
    <div class="scrollable-data">
    <div class="all-items-container">
        <div *ngFor="let st of items" class="item-single" (press)="itemPress(st)">
            <div class="item-image" *ngIf="st.image_url!=''" (tap)="itemClick(st)">
                <img [src]="st.image_url" />
            </div>
            <div class="full-item-info" (tap)="itemClick(st)">
                <div class="item-title">
                    {{st.service_name}}&nbsp;(for {{st.num_hours}} hours)
                </div>
                <div class="item-date">
                    {{st.date_display_text}}
                </div>
                <div class="item-time">
                    {{st.time_display_text}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="cancel-icon" (tap)="cancelClick(st)" *ngIf="st.is_upcoming">
                <ion-icon name="md-close"></ion-icon>
            </div>
            <div class="forward-icon" (tap)="itemClick(st)">
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </div>
        </div>
    </div>
    </div>
</ion-content>