<ion-header class="blue-header">
    <ion-navbar>
        <ion-title>
            {{ 'reservation' | rameezTranslator: globals.userLanguage }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding has-header class="has-header gray-screen">
    <div class="after-header-drop"></div>
    <ion-scroll padding class="scrollable-featured" scrollX="true" scrollY="false">
        <div class="single-featured" [ngClass]="{'feature-selected':f.selected}" nowrap [ngStyle]="{'background' : f.background_image}" *ngFor="let f of services" (click)="serviceClick(f)">
            <div class="featured-info">
                <div class="item-title">
                    {{f.name}}
                </div>
            </div>
            <!--<div class="reserved-mark" *ngIf="f.selected">
                <ion-icon name="ios-checkmark-circle"></ion-icon>
            </div>-->
        </div>
    </ion-scroll>
    <div padding class="dates-container">
        <div class="pick-heading">{{ 'pick_date' | rameezTranslator: globals.userLanguage }}</div>
        <div class="single-day" [ngClass]="{'selected':d.selected}" *ngFor="let d of days" (click)="dayClick(d)">
            {{d.value}}
        </div>
    </div>
    <div padding class="times-container">
        <div class="pick-heading">{{ 'pick_time' | rameezTranslator: globals.userLanguage }}*</div>
        <div class="single-time" [ngClass]="{'selected':d.selected}" *ngFor="let d of times" (click)="timeClick(d)">
            <div class="time-text">
                {{d.start}}
            </div>
            <div *ngIf="d.reserved" class="time-reserved">
                {{ 'reserved' | rameezTranslator: globals.userLanguage }}
            </div>
            <div *ngIf="!d.reserved" class="time-free">
                {{ 'free' | rameezTranslator: globals.userLanguage }}
            </div>
        </div>
    </div>
    <!--<div padding *ngFor="let st of items">
        <ion-row class="fields-container">
            <ion-col>
                <div class="input-label pick-heading">
                    Service*
                </div>
                <ion-item>
                    <ion-select [(ngModel)]="st.service_id">
                        <ion-option *ngFor="let s of services" [value]="s.id">{{s.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <div class="input-label pick-heading">
                    Seats*
                </div>
                <ion-item>
                    <ion-select [(ngModel)]="st.seats">
                        <ion-option *ngFor="let s of seats" [value]="s.value">{{s.value}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>-->
    <ion-row padding class="buttons-container">
        <ion-col>
            <div>
                <button ion-button class="common-button primary-button" (tap)="saveClick()">{{ 'reserve' | rameezTranslator: globals.userLanguage }}</button>
            </div>
        </ion-col>
        <!--<ion-col>
            <button ion-button class="common-button cancel-button" (tap)="navCtrl.pop()">CANCEL</button>
        </ion-col>-->
    </ion-row>
</ion-content>
