page-verify-code {
    .input-section {
        margin-top: 10px;
    }

    .signup-input-container {
        margin-top: 50px;
    }

    .login-button {
        margin-top: 20px;
    }

    .signup-button {
        margin-top: 20px;
    }
}
