@page
@model ZiadBooking.Pages.CEOManagementModel
@using Syncfusion.EJ2
<style>
    .image img {
        height: 55px;
        width: 55px;
        /*border-radius: 50px;*/
        /*box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);*/
    }
</style>
@{




    List<object> commands = new List<object>();
    List<object> commands2 = new List<object>();
    commands.Add(new { type = "Edit", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "e-flat" } });
    commands.Add(new { type = "Delete", buttonOption = new { iconCss = "e-icons e-delete", cssClass = "e-flat" } });
    commands2.Add(new { type = "Edit", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "e-flat" } });
    //commands.Add(new { type = "Delete", buttonOption = new { iconCss = "e-icons e-delete", cssClass = "e-flat" } });
    commands2.Add(new { type = "Save", buttonOption = new { iconCss = "e-icons e-update", cssClass = "e-flat" } });
    commands2.Add(new { type = "Cancel", buttonOption = new { iconCss = "e-icons e-cancel-icon", cssClass = "e-flat" } });


    <div id="info-div">

        <div class="switch-buttons">

            <a data-toggle="tab" href="#services">Services</a>
            <a data-toggle="tab" href="#packages">Packages</a>
            <a data-toggle="tab" href="#allUsers">All Users</a>

        </div>
        <div class="tab-content">
            <div id="services" class="tab-pane fade in">
                @{
                    List<Models.BookingService> services = (List<Models.BookingService>)ViewData["Services"];
                }
                <div class="page-heading">Services</div>
                <div class="add-new-container">
                    <a href="BookingService">+Add New Service</a>
                </div>
                <div class="clearfix"></div>
                <div class="control-section">
                    @Html.EJS().Grid("Services").DataSource((IEnumerable<object>)services).CommandClick("serviceClick").Columns(col =>
               {
                   col.Field("ImageUrl").Template("#imageURL").HeaderText("Image").Add();
                   col.Field("Name").HeaderText("Name").Add();
                   col.Field("rHours").HeaderText("Reservation Hours").Add();
                   col.Field("suspentionDate").HeaderText("Suspention Date").Add();
                   col.Field("CanBookOnline").DisplayAsCheckBox(true).HeaderText("Is Booked Online").Add();
                   col.Field("isSuspended").DisplayAsCheckBox(true).HeaderText("Is Suspended").Add();
                   col.Field("isSubscribedOnline").DisplayAsCheckBox(true).HeaderText("Is Subscribed Online").Add();


                   col.Field("Actions").Commands(commands).Add();
               }).AllowPaging().PageSettings(page => page.PageCount(2)).Toolbar(new List<string>() { "Search" }).Render()
                </div>


                <script type="text/javascript">

                </script>
            </div>

            <div id="packages" class="tab-pane fade in">

                @{
                    List<Models.Package> packages = (List<Models.Package>)ViewData["Packages"];
                    if (packages == null)
                    {
                        packages = new List<Models.Package>();
                    }
                }

                <div class="page-heading">Packages</div>
                <div class="add-new-container">
                    <a href="Package">+Add New Package</a>
                </div>
                <div class="clearfix"></div>
                <div class="control-section">
                    @Html.EJS().Grid("Packages").DataSource((IEnumerable<object>)packages).CommandClick("pkgClick").Columns(col =>
                   {
                       col.Field("ImageUrl").Template("#imageURL").HeaderText("Image").Add();
                       col.Field("Title").HeaderText("Title").Add();
                       col.Field("NumMonths").Template("#numMonths").HeaderText("Duration").Add();
                       col.Field("Amount").HeaderText("Amount").Add();
                       col.Field("LocationText").HeaderText("Location").Add();
                       col.Field("Latitude").Template("#latLong").HeaderText("Lat/Long").Add();

                       col.Field("Actions").Commands(commands).Add();
                   }).AllowPaging().PageSettings(page => page.PageCount(2)).Toolbar(new List<string>() { "Search" }).Render()
                </div>

            </div>
            <div id="allUsers" class="tab-pane fade in ">
                <div class="page-heading">Users</div>

                <div class="clearfix"></div>
                <div class="control-section">
                    @{
                        List<Models.User> users = (List<Models.User>)ViewData["Users"];
                    }
                    @Html.EJS().Grid("AllUsers").DataSource((IEnumerable<object>)users.ToList()).EditSettings(edit => { edit.AllowEditing(true); }).CommandClick("usrClick").Columns(col =>
               {
                   col.Field("ProfilePicUrl").Template("#profilePic").HeaderText("User Image").Add();
                   col.Field("identification_image").Template("#idImage").HeaderText("Identification Image").Add();
                   col.Field("Name").HeaderText("Name").Add();
                   col.Field("Email").HeaderText("Email").Add();
                   col.Field("DateOfBirth").EditType("datepickeredit").HeaderText("Date of Birth").Add();
                   col.Field("isActive").DisplayAsCheckBox(true).EditType("booleanedit").HeaderText("Is Active").Add();
                   col.Field("isSuspended").DisplayAsCheckBox(true).EditType("booleanedit").HeaderText("Is Suspended").Add();
    
                   col.Field("Actions").Commands(commands2).Add();
               }).AllowPaging().PageSettings(page => page.PageCount(2)).Toolbar(new List<string>() { "Search" }).Render()
                </div>


            </div>
        </div>
    </div>


}
<script type="text/javascript">
    function usrClick(args) {
        var data = args.rowData;
        debugger;
        if (args.commandColumn.type === "Save") {
            $.ajax({
                url: 'api/User/Suspention?Id=' + data.Id + "&isActive=" + data.isActive + "&isSuspended" + data.isSuspended,
                type: 'GET',
                dataType: "json",
                contentType:'application/json',
                success: function (success) {
                    debugger;
                    alert(success.msg);
                },
                error: function (error) {
                    if (error.status != 200) {
                        alert("error")
                    }
                    
                }
            })
        }
    }
    function serviceClick(args) {
        var data = args.rowData;
        if (args.commandColumn.type === "Edit") {

            location.href = "/BookingService?id=" + data.Id;

        }
        if (args.commandColumn.type === "Delete") {
            if (confirm('Are you sure you want to delete?')) {
                local.href = "/BookingService?id=" + data.Id + "&action=delete";
            }
        }
    }
    function pkgClick(args) {
        var data = args.rowData;
        if (args.commandColumn.type === "Edit") {

            location.href = "/Package?id=" + data.Id;

        }
        if (args.commandColumn.type === "Delete") {
            if (confirm('Are you sure you want to delete?')) {
                local.href = "/Package?id=" + data.Id + "&action=delete";
            }
        }
    }
</script>
<script id="imageURL" type="text/x-template">
    <div class="image">
        <img src="${ImageUrl}" alt="${ImageUrl}" />
    </div>
</script>
<script id="profilePic" type="text/x-template">
    <div class="image">
        <img src="${ProfilePicUrl}" alt="${ProfilePicUrl}" />
    </div>
</script>
<script id="numMonths" type="text/x-template">
    <div>
        ${NumMonths} month(s)
    </div>
</script>
<script id="latLong" type="text/x-template">
    <div>
        ${Latitude},${Longitude}
    </div>
</script>
<script id="idImage" type="text/x-template">
    <div class="image">
        <img src="${identification_image}" alt="${identification_image}" />
    </div>
</script>
<script id="moreDetails" type="text/x-template">
    <a class="lnk" href="#" id="anchorMoreDetails${Id}" onclick="">More Details</a>
</script>
<script id="subscription" type="text/x-template">
    <a class="lnk" href="/Subscription?user_id=${Id}">Subscriptions</a>
</script>
<script id="subscribed" type="text/x-template">
    <div>
        Subscribed
    </div>
</script>
<script id="unSubscribed" type="text/x-template">
    <div>
        UnSubscribed
    </div>
</script>
<script type="text/javascript">

    function cmdClick(args) {
        var data = args.rowData;
        if (args.commandColumn.type === "Edit") {

            location.href = "/User?id=" + data.Id;

        }
        if (args.commandColumn.type === "Delete") {
            if (confirm('Are you sure you want to delete?')) {
                local.href = "/User?id=" + data.Id + "&action=delete";
            }
        }
    }

    function loadMoreDetails(userId) {
        if ($("#moreDetailsRow" + userId).css("display") != "none") {
            $("#moreDetailsRow" + userId).css("display", "none");
            $("#anchorMoreDetails" + userId).text("More Details");
            return;
        }
        $("#anchorMoreDetails" + userId).text("Loading...");
        var pageUrl = '/UserMoreDetails?user_id=' + userId;
        console.log(pageUrl);
        $.ajax({
            url: pageUrl,
        }).done(function (result) {
            $("#moreDetailsRow" + userId).css("display", "table-row");
            $("#moreDetails" + userId).html(result);
            $("#anchorMoreDetails" + userId).text("Hide Details");
        });
    }
</script>
