@page
@{ 
    Layout = "_LayoutNL";
}
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <div id="login-body-div">
        <div id="login-div">
            <img id="login-user-img" src="~/images/user.png">
            <span id="login-text">Login to your Account</span>
            @{
                if (ViewData["Message"] != null)
                {
                    <div class="login-error-msg">@ViewData["Message"]</div>
                }
            }
            <div id="user-name-div" class="input-divs">
                <span class="input-labels">USERNAME*</span>
                <div class="input-fields-divs">
                    <input id="username-input" name="username" placeholder="Enter your username">
                    <i class="fa fa-user-o login-inputs-icons" aria-hidden="true"></i>
                </div>
            </div>
            <div id="password-div" class="input-divs">
                <span class="input-labels">PASSWORD*</span>
                <div class="input-fields-divs">
                    <input type="password" id="password-input" name="password" placeholder="Enter your password">
                    <i class="fa fa-lock login-inputs-icons" aria-hidden="true"></i>
                </div>
            </div>
            <button type="submit" id="login-button">
                <span id="login-button-text">LOGIN</span>
                <i id="paperplane-login-button" class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
            <!--<span id="not-registered-text">
                Not registered? Click <a href="#">here</a> to get started.
            </span>-->
        </div>
        <div id="footer">
            <span id="footer-text">
                &#169; COPYRIGHT 2021. ALL RIGHTS RESERVED
            </span>
        </div>
    </div>
</form>