@page
@model ZiadBooking.Pages.ReceptionModel
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Inputs
@{
    ViewData["Title"] = "Reception";
    string userName = "";
    if (ViewData["UserName"] != null)
    {
        userName = (string)ViewData["UserName"];
    }
}
<link href="~/css/Reception.css" rel="stylesheet" />

@{
    if (ViewData["Message"] != null)
    {
        <div class="error-msg">
            @ViewData["Message"].ToString()
        </div>
    }
}

@{
    List<Models.Reservation> reservations = (List<Models.Reservation>)ViewData["Reservations"];
    if (reservations == null)
    {
        reservations = new List<Models.Reservation>();
    }
    List<Models.UserSubscription> subscriptions = (List<Models.UserSubscription>)ViewData["Subscriptions"];
    if (subscriptions == null)
    {
        subscriptions = new List<Models.UserSubscription>();
    }
    List<Models.GenericModel> family = (List<Models.GenericModel>)ViewData["Family"];
    if (family == null)
    {
        family = new List<Models.GenericModel>();
    }

}
<style>
    .addDefaultColor{
        background-color:#fafafa !important;

    }
</style>

<div id="info-div">
    <div class=".lding" style="display:none">
        <img src="/images/Loading.gif" />
    </div>
    <div id="dialog"></div>
    <form method="post" style="width:80%;margin:auto">
        <div class="page-heading">Search User</div>
        <div class="clearfix"></div>
        <input type="text" id="searchField" autocomplete="off" class="form-control" name="name" value="@userName" placeholder="Full name or email of user" />
        @*@Html.EJS().TextBox("searchField").Placeholder("Search").CssClass("e-filled").FloatLabelType(FloatLabelType.Auto).Render()*@
        <button class="btn btn-success btn-block"  style="margin-top: 15px;">Search</button>
    </form>

    @{
        if (ViewData["Users"] != null)
        {
            List<Models.User> usr = (List<Models.User>)ViewData["Users"];
            <div class="clearfix"></div>
            <div class="control-section" style="width: 80%; margin: auto; padding-top: 2em;">
                @Html.EJS().Grid("UserGrid").DataSource(usr.ToList()).DetailTemplate("#detailtemplate").DetailDataBound("detailDataBound").RecordDoubleClick("AddEditReservation").Columns(col =>
                     {
                         col.Field("isActive").DisplayAsCheckBox(true).HeaderText("Status").Add();
                         col.Field("ProfilePicUrl").Template("#imageURL").HeaderText("User Image").Add();

                         col.Field("Name").HeaderText("Name").Add();
                         col.Field("Email").HeaderText("Email").Add();
                         col.Field("PhoneNumber").HeaderText("Phone").Add();



                     }).AllowPaging().PageSettings(page => page.PageCount(2)).Render()

            </div>
     
        }
    }
</div>
<script id="imageURL" type="text/x-template">
    <div class="image">
        <img src="${ProfilePicUrl}" alt="${ProfilePicUrl}" />
    </div>
</script>
<script>
    var count = 0;
    var user = "";

    function detailDataBound(args) {
        var pageUrl = '/newMoreDetails?user_id=' + args.data.Id;
        
        //$("#moreDetails").load(pageUrl)
        $.ajax({
            url: pageUrl,
            beforeSend: function () {
                $(".moreDetails_" + args.data.Id).html('<img src="/images/Loading.gif" />');
            }
        }).done(function (result) {
            $(".moreDetails_" + args.data.Id).html('');

            $(".moreDetails_" + args.data.Id).html(result);

        });
    }
    function AddEditReservation(Id) {
        $(".lding").show()
        var demo;
        var dlgContent;
        var dropDownListObj = new ej.dropdowns.DropDownList({
            // bind the DataManager instance to dataSource property
            dataSource: new ej.data.DataManager({
                url: '/api/reservation/UserSelectedPackages?user_id='+Id,
                adaptor: new ej.data.WebApiAdaptor(),
                crossDomain: true
            }),
            // bind the Query instance to query property
            /*query: new ej.data.Query().select(['data.services']),*/
            
            // map the appropriate columns to fields property
            fields: { text: 'service_name', value: 'service_id' },
            // sort the resulted items
            sortOrder: 'Ascending',
            // set the placeholder to DropDownList input element
            placeholder: 'Select Service',
            // set the height of the popup element
            popupHeight: '200px'
        });
        
        var datepicker = new ej.calendars.DatePicker({
            format: 'yyyy-MM-dd',

            change: function (args) {
                //$('.chk:checkbox:checked').prop("checked",false);
                $('input:checkbox').removeAttr('checked');
                $('input:checkbox').removeAttr('disabled');
                $('.e-btn').addClass("addDefaultColor")
                
                var user_id = $("#user_id").val();
                var sService = $("#sService_hidden").val();
                var rDate = $("#rDate").val();
                if (user_id && rDate && sService) {
                    
                    var data = { "user_id": user_id, "sService": sService, "rDate": rDate }
                    $.ajax({
                        url: '/api/Reservation/UserReservations',
                        type: 'POST',
                        data: data,
                        success: function (result) {
                            debugger;
                            var data = result.map(x => x.values);
                            for (var i = 0; i < data.length; i++) {
                                var d = data[i];
                                if (d.fk_reservationId === parseInt( sService)) {
                                    if (d.fk_userId == user_id) {
                                        $('.e-btn').removeClass("addDefaultColor")
                                        $("#dt_" + d.fk_reservationtimeId).prop("checked", true);
                                        $("#dt_" + d.fk_reservationtimeId).prop("disabled", "disabled");
                                    } else {
                                        $('.e-btn').removeClass("addDefaultColor")
                                        $("#dt_" + d.fk_reservationtimeId).prop("disabled", "disabled");
                                    }
                                }
                              
                            }
                        }, error: function (errorMessage) {

                        }

                    })
                }

            }
        });
        
        $.ajax({
            url: '/newEditReservation?user_id=' + Id,
            Type: 'GET',
            success: function (result) {
                dlgContent = result;
                $(".lding").hide()

                $("#dialog").html("");
                var dlgObj = new ej.popups.Dialog({
                    header: 'Reservations  <span style="margin-left:50%;font-size:11px;background-color:#fff;border-radius:7px;color:#000;padding:0 2em;width:auto;"> ' + $('.name_' + Id).val()
                        + '</span><input type="hidden" id="user_id" value="'+Id+'"/>',
                    content: dlgContent,
                    target: document.getElementById('target'),
                    showCloseIcon: true,
                    //buttons: [
                    //    {
                    //        click: fnc_Submit,
                    //        buttonmodel: { content: 'Submit', isprimary: true }
                    //    }],
                    width: '600px',
                    height: 'auto',
                    
                    animationSettings: { effect: 'none' },
                    allowDragging: true, isModal: true,
                });


                dlgObj.appendTo('#dialog');
                dropDownListObj.appendTo('#sService');
                /*$("#dtUpload").html('');*/
                $("#edtReservation").html("New Reservation")
                datepicker.appendTo('#rDate');
                $("#btnLoad").html('<button  onclick="fnc_Submit()" class="col-md-12 btn btn-success" id="btnSubmit" >Submit</button>');
            }
        })
    }
    function dlgButtonClick(args) {

    }
 
    $(document).on('click', '.ed1', function () {
        var Id = this.id;
  
        
        $.ajax({
            url: '/api/Reservation/GetById?rsr_id=' + Id,
            type: "Get",
            dataType: 'json',
            contentType:'application/json',
            success: function (result) {
                var data = result.data.values;
                debugger;
                var serviceId = data.service_id;
                
                var drpdwnObj = document.getElementById("sService").ej2_instances[0];
                //drpdwnObj.value = serviceId;
                $("#edtReservation").html("Edit Reservation")
                $("#rDate").val(data.reserve_ts);
                var index = drpdwnObj.getIndexByValue(parseInt(serviceId));
                drpdwnObj.index = index;
             
            }, error: function (error) {
                alert(error["responseText"]);
            }
        })
    });
    $(document).on('click', '.familyAll', function () {
        
        $.ajax({
            url: '/api/reservation/FamilyAllCheckInOut?user_id=' + this.id,
            type: 'POST',
            success: function (result) {
                location.reload();
            }, error: function (error) {
                alert("Error: Unknown")
            }
        })

    })
    function fnc_Delete(Id) {

    }
    function fnc_Submit() {
        
        
        var chk = $('.chk:checkbox:checked');
        var user_id = $("#user_id").val();
      
        var sService = $("#sService_hidden").val();
        var rDate = $("#rDate").val();
        var arr = [];
        for (var i = 0; i < chk.length; i++) {
            arr.push(parseInt(chk[i].value));
        }
        var data = { "chk": arr, "user_id": user_id, "sService": sService, "rDate": rDate }
        if (chk.length > 2) {
            alert("Please select any 2 hours");
            
        } else {
            $.ajax({
                url: '/api/User/ReservationTiming',
                type: 'POST',
                data: data,
                success: function (result) {
                    alert(result);
                }, error: function (errorMessage) {

                }

            })

        }
      
    }
    function fnc_DateChange() {
   

    }
</script>
<script type="text/x-template" id="detailtemplate">

    <div class="moreDetails_${Id}"></div>

</script>